*.bak
*.o
.DS_Store
Makefile
config.h
config.log
config.status
examples/init-script
md-mx-ctrl
md-mx-ctrl.8
mimedefang
mimedefang-*.tar.gz
mimedefang-*.tar.gz.sig
mimedefang-filter.5
mimedefang-multiplexor
mimedefang-multiplexor.8
mimedefang-notify.7
mimedefang-protocol.7
mimedefang.8
mimedefang.pl
mimedefang.pl.8
modules/man/*.3p
redhat/mimedefang-init
redhat/mimedefang-sysconfig
redhat/mimedefang.spec
script/mimedefang-util
script/mimedefang-util.1
watch-mimedefang
xs_init.c
autom4te.cache
